body {background-color: aquamarine;
}
h1 {color:rgb(89, 78, 64);
    text-align: center;
    align-items: center;
}
#pitanga{
    max-width:250px;
    max-height: 100px;
}
#kyiv {
    width: 100%;
}
/*img {
    align-items: center;
    max-width:50px;
    max-height: 20px;
}
*/