body {background-color: aquamarine;
}
h1 {color:rgb(89, 78, 64);
    text-align: center;
}
img {
    align-items: center;
}
#pitanga{
    max-width:100px;
    max-height: 60px;
}
#kyiv {
    width: 120%;
}
